{% extends "bubble_message.jinja2" %}

{% block document %}
	<div class='document-marker'>
		GIF
	</div>
	{% set document = files.get_document(message) %}
	{% if document %}
	<video class="message-image message-gif" src="{{
	  utils.base64ToUrl(
	    files.get_file(document.file_id),
	    document.mime_type or 'image/jpeg'
	  )
	}}">
	</video>
	{% endif %}
{% endblock %}