{% extends "base_message.jinja2" %}

{% block message %}
<div class="message note-message">
  {% block userpic %}
    <div class="author-user-pic">
      <img src="{{
            utils.base64ToUrl(
              files.get_userpic(user_id),
              'image/jpeg'
            )
          }}">
    </div>
  {% endblock %}

  {% block author %}
    <div class='author'>
    {% set forward_sender_name = utils.getForwardSenderName(message) %}
    {% if forward_sender_name %}
      <div class="author-user-name author-user-color-{{user_id%7}}">
        {{ utils.getFullName(message) }}
      </div> 
      <div class="forward-name">
        Forwarded from {{ forward_sender_name }}
        <span class="via-bot">{{ utils.getViaBot(message) }}</span>      
      </div>
    {% else %}
      <div class="author-user-name author-user-color-{{user_id%7}}">
        {{ utils.getFullName(message) }}
        {% set via_bot = utils.getViaBot(message) %}
        {% if via_bot %}
          <span class="via-bot">{{ utils.getViaBot(message) }}</span>
        {% endif %}
      </div>
  {% endif %}
    </div>
  {% endblock %}
  
  {% block reply_to_message %}
  {% endblock %}
  
  {% block document %}
  {% endblock %}

  {% block text %}
    <div class="message-text">{{message.text or message.caption}}</div>
  {% endblock %}
</div>
{% endblock %}