{% extends "bubble_message.jinja2" %}

{% block document %}
	{% set document = files.get_document(message) %}
	{% if document %}
	<img class="message-image" src="{{
	  utils.base64ToUrl(
	    files.get_file(document.file_id),
	    document.mime_type or 'image/jpeg'
	  )
	}}">
	{% endif %}
{% endblock %}