body { 
  background-color: transparent;
  word-break: break-all;
}

.block {
  /* position: relative; */
}

.message {
  position: relative;

  display: inline-block;
  background-color: white;
  width: 400px;
  padding: 8px 0;
  border-radius: 7px;
  /* border-bottom-left-radius: 0px;  */
  margin: 18px;
  margin-left: 86px;
}

.note-message {
  background-color: transparent;
}

.author-user-pic {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  margin-top: -8px;
}

.author-user-pic img {
  position: relative;
  right: 66px;
  /* bottom: 60px; */
  top: calc(100%-50px);
  /* margin-bottom: 50px; */
  /* bottom: 1px; */
  /* margin-top: 100%; */
  /* top: 18px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-left: 18px; */
/*   background-color: white; */
}

.message-tail {
  display: inline-block;
  background-c1olor: white;
  width: 10px;
  height: 10px;
  border-top-left-radius: 10px;
  border: black;
}

.message .message-image {
  padding: 0px;
  margin: 2px 0;
  max-width: calc(100%);
}

.author-user-name {
  font-weight: bold;
  padding: 0 2px;
  margin: 0 8px 1px;
/*   margin-top: 0px; */
}
.author-user-color-0 {color: red}
.author-user-color-1 {color: #faa357}
.author-user-color-2 {color: purple}
.author-user-color-3 {color: #85de85}
.author-user-color-4 {color: #62d4e3}
.author-user-color-5 {color: lightblue}
.author-user-color-6 {color: #ff5694}

.via-bot {
  font-weight: bold;
  padding: 0 2px;
  margin: 0 0px 0px;
  color: #62d4e3;
}
.forward-name {
  font-weight: bold;
  padding: 0 2px;
  margin: 0 8px 0px;
  color: #62d4e3;
}

.message-text {
  padding: 0 2px;
  margin: 0px 8px 4px;
}